scroll-view ::-webkit-scrollbar {
    width: 0;
    height: 0;
    color: transparent;
    display: none;
}
// 字体对齐方式
.c-tl {
    text-align: left;
}
.c-tc {
    text-align: center;
}
.c-tr {
    text-align: right;
}
// 通过基础的 12 分栏，迅速简便地创建布局
.c-row {
    padding: $spacing-col-base $spacing-row-base;
    &-sm {
        padding: $spacing-col-base / 2 $spacing-col-base / 2;
        [class*="c-col-"] {
            padding: $spacing-col-base / 2 $spacing-col-base / 2;
        }
    }
    &-sm {
        padding: $spacing-col-base * 2 $spacing-col-base * 2;
        [class*="c-col-"] {
            padding: $spacing-col-base * 2 $spacing-col-base * 2;
        }
    }
}

[class*="c-col-"] {
    padding: $spacing-col-base $spacing-row-base;
    position: relative;
}
.c-col-1 {
    padding: 0;
}
.c-col-2 {
    padding: 0;
}
.c-col-3 {
    padding: 0;
}

// 旋转动画
@keyframes c-zsuicon-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

// ios安全区域
.c-safe-area {
    width: 100%;
    &-inset-top {
        @include iosSafeArea(padding-top, 0rpx, top);
    }
    &-inset-bottom {
        @include iosSafeArea(padding-bottom, 0rpx, bottom);
    }
}

// 旋转动画
@keyframes c-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// 金额相关
.price-com {
    display: inline-flex;
    align-items: flex-end;
    font-size: 36rpx;
    color: inherit;
    font-family: "d-din-bold";
    line-height: 1;
    &::before {
        font-family: inherit;
        position: relative;
        bottom: 4rpx;
        font-weight: bold;
        content: "￥";
        font-size: 65%;
        color: inherit;
    }
    &.d-din {
        &::before {
            font-weight: normal;
        }
    }
    &--default {
        font-family: "PingFangSC-Regular, PingFang SC";
    }
}
[data-price_prefix]::before {
    content: attr(data-price_prefix) !important;
}

// 弹窗标题
.c-modal__title {
    height: 96rpx;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 80rpx;
    font-size: 32rpx;
    font-weight: bold;
}

// 亮牌特效
.bright-card {
    position: relative;
    overflow: hidden;
}
.bright-card:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    transform: skewx(-25deg);
    background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.3) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    animation: bgPosition 3s ease infinite;
    z-index: 2;
}

@keyframes bgPosition {
    0% {
        left: -150%;
    }

    100% {
        left: 150%;
    }
}

// 按键点击特效
.ripple {
    position: relative;
    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        //设置径向渐变
        background-image: radial-gradient(circle, rgba(0, 0, 0, 0.65) 20%, transparent 20%);
        background-repeat: no-repeat;
        background-position: 50%;
        transform: scale(5);
        opacity: 0;
        transition: transform 0.2s ease-in-out, opacity 0.3s ease-in-out;
    }
    &:active::after {
        transform: scale(0);
        opacity: 0.5;
        //设置初始状态
        transition: 0s;
    }
}
// 文字截断省略号
$ellipsis-lines: 1, 2, 3, 4, 5;
.c-ellipsis {
    @include ellipsis(1);
}
@each $i in $ellipsis-lines {
    .c-ellipsis-#{$i} {
        @include ellipsis($i);
    }
}
// 对其方式
$vertical-value: baseline, sub, super, top, text-top, middle, bottom, text-bottom, inherit;
@each $i in $vertical-value {
    .c-vertical-#{$i} {
        vertical-align: $i;
    }
}
// 文字不换行
.c-nowrap {
    white-space: nowrap;
}
// 线
.c-line {
    height: 1px;
    background-color: $border-color;
    transform: scaleY(0.5);
    width: 100%;
}
// 上下边框
.c-underline,
.c-underline__top {
    position: relative;
    &::after {
        content: "";
        @include abs(null, 0, 0, 0);
        height: 1px;
        background-color: $border-color;
        transform: scaleY(0.5);
    }
}
.c-underline__top::after {
    top: 0;
    bottom: auto;
}
// 4边边框
.c-border {
    position: relative;
    &::after {
        content: "";
        @include abs(0, null, null, 0);
        width: 200%;
        height: 200%;
        transform-origin: 0 0;
        color: inherit;
        border: 1px solid $border-color;
        transform: scale(0.5);
    }
}
// ios安全区域
.c-safe-area {
    width: 100%;
    &-inset-top {
        @include iosSafeArea(padding-top, 0rpx, top);
    }
    &-inset-bottom {
        @include iosSafeArea(padding-bottom, 0rpx, bottom);
    }
}
// 圆角
.c-radius-sm {
    border-radius: $border-radius-sm;
    overflow: hidden;
}
.c-radius {
    border-radius: $border-radius-base;
    overflow: hidden;
}
.c-radius-lg {
    border-radius: $border-radius-lg;
    overflow: hidden;
}
.c-radius-circle {
    border-radius: $border-radius-circle;
    overflow: hidden;
}

// 字体位置
.c-tc {
    text-align: center;
}
.c-tl {
    text-align: left;
}
.c-tr {
    text-align: right;
}

// 元素隐藏
.c-hidden {
    display: none;
}
