@font-face {
    font-family: "iconstyle1"; /* Project id 2749852 */
    src: url("//at.alicdn.com/t/font_2749852_qe1xdi59d6r.woff2?t=1632304397956") format("woff2"),
        url("//at.alicdn.com/t/font_2749852_qe1xdi59d6r.woff?t=1632304397956") format("woff"),
        url("//at.alicdn.com/t/font_2749852_qe1xdi59d6r.ttf?t=1632304397956") format("truetype");
}

.iconstyle1 {
    font-family: "iconstyle1" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-style1-checkbox-checked:before {
    content: "\e695";
}

.icon-style1-checkbox:before {
    content: "\e696";
}

.icon-style1-dianzan:before {
    content: "\e67f";
}

.icon-style1-saoyisao:before {
    content: "\e618";
}

.icon-style1-shoushi:before {
    content: "\e691";
}

.icon-style1-bofang1:before {
    content: "\e68c";
}

.icon-style1-jiaoyichenggong:before {
    content: "\e66d";
}

.icon-style1-mianfeiyuyue:before {
    content: "\e6d0";
}

.icon-style1-yanshou:before {
    content: "\e6d1";
}

.icon-style1-baojia:before {
    content: "\e6d2";
}

.icon-style1-shigong:before {
    content: "\e6d4";
}

.icon-style1-shanchu1:before {
    content: "\e684";
}

.icon-style1-saoma:before {
    content: "\e74b";
}

.icon-style1-zhiding:before {
    content: "\e631";
}

.icon-style1-bofang:before {
    content: "\e65e";
}

.icon-style1-dui:before {
    content: "\e715";
}

.icon-style1-xiezhuiping:before {
    content: "\e7f0";
}

.icon-style1-gengduo:before {
    content: "\e639";
}

.icon-style1-queding:before {
    content: "\e661";
}

.icon-style1-hengpai:before {
    content: "\e649";
}

.icon-style1-shaixuan:before {
    content: "\e64b";
}

.icon-style1-xiazai:before {
    content: "\e651";
}

.icon-style1-shupai:before {
    content: "\e653";
}

.icon-style1-shanjian:before {
    content: "\e662";
}

.icon-style1-tianjia:before {
    content: "\e666";
}

.icon-style1-weixuan:before {
    content: "\e667";
}

.icon-style1-shuoming:before {
    content: "\e659";
}

.icon-style1-renzhengguanli:before {
    content: "\e66e";
}

.icon-style1-fuwu:before {
    content: "\e66f";
}

.icon-style1-zuopin:before {
    content: "\e670";
}

.icon-style1-rongyu:before {
    content: "\e673";
}

.icon-style1-jineng:before {
    content: "\e6ce";
}

.icon-style1-gengduo1:before {
    content: "\e682";
}

.icon-style1-chuangjian:before {
    content: "\e71f";
}

.icon-style1-youxiang1:before {
    content: "\e683";
}

.icon-style1-gongsi:before {
    content: "\e686";
}

.icon-style1-mingpianzhongxin:before {
    content: "\e68a";
}

.icon-style1-mingpianjia:before {
    content: "\e68b";
}

.icon-style1-riqi:before {
    content: "\e605";
}

.icon-style1-fanhui:before {
    content: "\e699";
}

.icon-style1-dianhua4:before {
    content: "\e6a4";
}

.icon-style1-zhuangshifuhaozuo:before {
    content: "\e6b0";
}

.icon-style1-zhuangshifuhaoyou:before {
    content: "\e6b1";
}

.icon-style1-pintuan1:before {
    content: "\e6bb";
}

.icon-style1-daojishi:before {
    content: "\e6b9";
}

.icon-style1-miaosha2:before {
    content: "\e6b8";
}

.icon-style1-gouwuche2:before {
    content: "\e6b3";
}

.icon-style1-gouwuche4:before {
    content: "\e6b4";
}

.icon-style1-gouwuche3:before {
    content: "\e6b5";
}

.icon-style1-gouwuche1:before {
    content: "\e6b6";
}

.icon-style1-dizhi1:before {
    content: "\e68e";
}

.icon-style1-youxiang11:before {
    content: "\e68f";
}

.icon-style1-dianhua3:before {
    content: "\e694";
}

.icon-style1-ren1:before {
    content: "\e6fd";
}

.icon-style1-dizhi:before {
    content: "\e681";
}

.icon-style1-dianhua5:before {
    content: "\e69f";
}

.icon-style1-daohang:before {
    content: "\e6a0";
}

.icon-style1-jiaoyishibai:before {
    content: "\e66a";
}

.icon-style1-guanbi:before {
    content: "\e641";
}

.icon-style1-sanjiaoxing:before {
    content: "\e660";
}

.icon-style1-sousuo:before {
    content: "\e64f";
}

.icon-style1-xuanzhong:before {
    content: "\e665";
}

.icon-style1-wodetuandui:before {
    content: "\e676";
}

.icon-style1-wodezichan:before {
    content: "\e67a";
}

.icon-style1-fenxiang:before {
    content: "\e64c";
}

.icon-style1-chakandatu:before {
    content: "\e656";
}

.icon-style1-erweima:before {
    content: "\e657";
}

.icon-style1-xiayibu:before {
    content: "\e65c";
}

.icon-style1-changantupian:before {
    content: "\e65f";
}

.icon-style1-zhuanfalianjie:before {
    content: "\e671";
}

.icon-style1-baocuntupian:before {
    content: "\e672";
}

.icon-style1-zanting:before {
    content: "\e658";
}

.icon-style1-fenxiang3:before {
    content: "\e68d";
}

.icon-style1-fenxiangzhuan:before {
    content: "\e620";
}

.icon-style1-dizhi-empty:before {
    content: "\e63d";
}

.icon-style1-jia:before {
    content: "\e664";
}

.icon-style1-jian:before {
    content: "\e663";
}

.icon-style1-kuaidi:before {
    content: "\e669";
}

.icon-style1-weixin:before {
    content: "\e617";
}

.icon-style1-daishouhuo:before {
    content: "\e7f3";
}

.icon-style1-xiaolianxuanzhong:before {
    content: "\e633";
}

.icon-style1-huadong:before {
    content: "\e6ee";
}

.icon-style1-gonggao:before {
    content: "\e60b";
}

.icon-style1-tiaozhuan:before {
    content: "\e650";
}

.icon-style1-shezhi:before {
    content: "\e65a";
}

.icon-style1-jinrixinzeng:before {
    content: "\e6cf";
}

.icon-style1-wodetuandui1:before {
    content: "\e6d3";
}

.icon-style1-pin:before {
    content: "\e669";
}

.icon-style1-zu:before {
    content: "\e66a";
}

.icon-style1-cheng:before {
    content: "\e66b";
}

.icon-style1-danchuangshanchu:before {
    content: "\e664";
}

.icon-style1-fenxiang1:before {
    content: "\e668";
}

.icon-style1-kefu:before {
    content: "\e66c";
}

.icon-style1-guanfang:before {
    content: "\e674";
}

.icon-style1-shangsheng:before {
    content: "\e675";
}

.icon-style1-shouhou:before {
    content: "\e677";
}

.icon-style1-shangchuantupian:before {
    content: "\e678";
}

.icon-style1-shoucang:before {
    content: "\e679";
}

.icon-style1-xiajiang:before {
    content: "\e67a";
}

.icon-style1-xiangqinggouwuche:before {
    content: "\e67b";
}

.icon-style1-yishoucang:before {
    content: "\e67c";
}

.icon-style1-zhengpin:before {
    content: "\e67d";
}

.icon-style1-zhichi:before {
    content: "\e67e";
}

.icon-style1-pengyouquan:before {
    content: "\e685";
}

.icon-style1-baobiao:before {
    content: "\e65b";
}

.icon-style1-yibaojia:before {
    content: "\e687";
}

.icon-style1-baojiazhong:before {
    content: "\e688";
}

.icon-style1-wuliu:before {
    content: "\e689";
}

.icon-style1-shanchu:before {
    content: "\e68d";
}

.icon-style1-bianji:before {
    content: "\e68e";
}

.icon-style1-daifukuan:before {
    content: "\e690";
}

.icon-style1-daifahuo:before {
    content: "\e692";
}

.icon-style1-tuihuanhuo:before {
    content: "\e693";
}

.icon-style1-dizhixinxi:before {
    content: "\e652";
}

.icon-style1-fenxiang2:before {
    content: "\e69a";
}

.icon-style1-fenxiangmendian:before {
    content: "\e69d";
}

.icon-style1-dianhuaxinxi:before {
    content: "\e69e";
}

.icon-style1-shoucangdianpu:before {
    content: "\e6f1";
}

.icon-style1-jianyiliuyan:before {
    content: "\e6a2";
}

.icon-style1-pinpai:before {
    content: "\e6a3";
}

.icon-style1-shoucangdianpuxuanzhong:before {
    content: "\e6f2";
}

.icon-style1-xiala1:before {
    content: "\e6a9";
}

.icon-style1-wifi:before {
    content: "\e6aa";
}

.icon-style1-wodezuji:before {
    content: "\e6ab";
}

.icon-style1-time:before {
    content: "\e6ac";
}

.icon-style1-yilingqu:before {
    content: "\e6ad";
}

.icon-style1-zhibo:before {
    content: "\e6ae";
}

.icon-style1-daipingjia:before {
    content: "\e6ff";
}

.icon-style1-wodeyue:before {
    content: "\e6af";
}
